

@mixin floatLeft{
  float: left;
}
@mixin floatRight{
  float: right;
}
@mixin width100{
width:1536px;
}
@mixin marginleft200{
  margin-left: 160px;
}
@mixin marginright200{
  margin-right: 170px;
}
@mixin textalien{
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
.tou{
  @include width100;
  height: 40px;
  border: 1px solid gray;
  line-height: 40px;
  background: #F5F5F5;
}
.span1{
  @include floatLeft;
  @include marginleft200;

  a{
    margin-right: 10px;
  }
}
.span2{
  @include floatRight;
  @include marginright200;
  a{
    margin:0px 5px;
  }
}
.touxia{
  width: 1536px;
  height: 80px;
  @include textalien;
  line-height: 80px;
  .touxiaimg1{
    @include floatLeft;
    @include marginleft200;
  }

  .xouping{
    @include floatRight;
    @include marginright200;
    span{
      margin-left: 30px;
    }
  }

}
.lun{
  width: 1200px;
  height: 340px;
  margin: auto;
  position: relative;
  color: white;
  overflow: hidden;
  .xiushouji{
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 250px;
    height:78px;
    background-color: rgba(74,72,71,0.8);
    line-height: 78px;

    img{
      margin-left: 50px;
      float: left;
    }
  }
  .xiudiannao{
    position: absolute;
    z-index: 10;
    top: 85px;
    width: 250px;
    height:78px;
    background-color: rgba(74,72,71,0.8);
    line-height: 78px;

    img{
      margin-left: 50px;
      float: left;
    }
  }
  .mai{
    position: absolute;
    z-index: 10;
    top: 170px;
    width: 250px;
    height:78px;
    background-color: rgba(74,72,71,0.8);
    line-height: 78px;

    img{
      margin-left: 50px;
      float: left;
    }
  }
  .maishouji{
    position: absolute;
    z-index: 10;
    top: 255px;
    width: 250px;
    height:78px;
    background-color: rgba(74,72,71,0.8);
    line-height: 78px;
    img{
      margin-left: 50px;
      float: left;
    }
  }
  .bo{
    width: 3600px;
    height:340px;
    font-size: 0px;
    position: absolute;
    z-index: 0;
    img{
      @include floatLeft;
    }
  }
}
.huishou{
  width: 1536px;
  background: #F7F7F7;
  .huishoutou{
    margin-left: 160px;
    font-size: 0px;
  }
  .huishouzhong {
    margin-left: 160px;
    .remeng{
      font-size: 30px;
    }
.chakan{
  @include floatRight;
  @include marginright200;
}
    .daodian{
      @include marginleft200;
      font-size: 30px;
    }
    .spanimg{
      margin-left: 160px;
      font-size: 0px;
    }
  }
}

.shousuo{
  width: 1536px;
  @include marginleft200;
  .chengshi{

  }
}
