
@mixin floatLeft{
  float: left;
}
@mixin floatRight{
  float: right;
}
@mixin width100{
width:1536px;
}
@mixin marginleft200{
  margin-left: 200px;
}
@mixin marginright200{
  margin-right: 200px;
}
@mixin textalien{
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
.tou{
  @include width100;
  height: 40px;
  border: 1px solid gray;
  line-height: 40px;
  background: #F5F5F5;
}
.span1{
  @include floatLeft;
  @include marginleft200;

  a{
    margin-right: 10px;
  }
}
.span2{
  @include floatRight;
  @include marginright200;
  a{
    margin:0px 5px;
  }
}
.touxia{
  width: 1536px;
  height: 80px;
  @include textalien;
  img{
    @include floatLeft;
    @include marginleft200;
  }
  .span3{
    font-size: 30px;
    color: #44AA77;
  }
  div{
    @include floatRight;
    @include marginright200;
    a{
      margin-left: 20px;
    }
  }
}
